.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.primary-color{
  color: 	#fb2e01
}

.secoundary-color{
  color: #282c34;
}

.tertiary-color{
  color: white
}

.App-title {
  align-self: center;
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 3.5em;
  font-weight: 400;
  color: #fb2e01;
}

.rating{
  color: gold
}

.search-title {
  padding: 0px;
  color: white;
  font-size: 3em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 1.5em;
}

.small-title {
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.nav-bg{
  background-color: #1C2833;
  /*34495E*/
}
.nav-title{
  color: #fb2e01;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: 'Righteous', cursive;
}

.nav-title:hover{
  color: #C0392B;
  text-decoration:none!important;
}

.nav-text{
  color: #777777;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
}

.Red{
  color: 	#fb2e01;
}

.background-btn{
  background-color: #fb2e01;
}

.cardw{
  cursor: pointer;
  width: 300px;
  
}
.cardw-img{
  width:100%
}

.cardb{
  background-color: black;
}

.padding{
  padding-top: 6em;
  align-self: flex-start;
  margin-left: 1rem;
  margin-right: 1rem !important;
}
.dropdown-padding{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.welcome{
  background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url(".\images\wp1945898-movie-posters-wallpapers.jpg");
  align-items: center;
  padding-top: 50px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.center{
  text-align: center;
  margin-top: 3rem;
}
a.b:hover{
  color: inherit;
}

a.a{
  text-decoration:none!important;
  color: white;
}
a.a:hover{
  text-decoration:none!important;
}

.search-body{
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.Footer{
  margin-top: 5em;
  display: flex;
  font-family: 'Roboto', sans-serif;
  min-height: 3em;
  background-color: #1C2833;
}

.body{
  min-height: 100vh;
}

.footer-text{
  align-self: center;
  margin-left: 1em;
  color:grey;
  font-weight: 200;
}

.star{
  vertical-align: text-bottom;
}

.text-size-footer{
  font-size: 12px;
  margin-bottom: 0em;
}

.grey{
  color: lightslategray;
}

.upper{
  text-transform: uppercase;
}

.card-title{
  margin-bottom: .75rem;
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.navbar-collapse{
  display: none;
}

.row{
  justify-content: center
}

.rating-header{
  height: 30em;
  background: url("./images/myke-simon-atsUqIm3wxo-unsplash.jpg");
  background-position: top;
  background-size: cover;
}

.whatson-header{
  width: 100%;
  height: 30em;
  background: url("./images/erik-witsoe-GF8VvBgcJ4o-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.saved-header{
  width: 100%;
  height: 30em;
  background: url("./images/myke-simon-atsUqIm3wxo-unsplash.jpg");
  background-position: top;
  background-size: cover;
}

.full-width{
  min-width: 100vw;
}

.overlay-backgorund{
  background: linear-gradient(rgba(40,44,52,0.8), rgba(40,44,52,0.8))
}

.modal-img{
  height: 40vh;
  background-position: top;
  background-size: cover !important;
  border: black;
}
.modal-footer{
  border: black;
}
.modal-body{
  line-height: 1.3em;
  padding-top: 2em !important;
}

.card-text{
  line-height: 1.8em;
  font-weight: 300;
}
.card-footer{
  padding-top: 0em;
}

.upcoming-header{
  height: 30em;
  background: url("./images/charles-I6mx55jXOvM-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.no-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 341.99px;
  background: black;
  text-align: center;
  color: white;
  
}

@media (min-width: 768px) { 
  
  .App-title {
    align-self: center;
    text-align: center;
    font-size: 5em
  }
  
  .search-title {
    padding: 0px;
    color: white;
    font-size: 3.5em;
  }
  
  .small-title {
    text-align: center;
    color: white;
    font-size: 2em
  }
  
  .dropdown-padding{
    flex-direction: row;
    padding-left: 6em;
    padding-right: 0em;
  }
  
  .cardw{
    width:230px;
    transition: 1.5s;
   
  }
  
  .padding{
    padding-top: 6em;
    align-self: flex-start;
    
  }
  
  .center{
    text-align: center;
    margin-top: 3rem;
    width: 15rem;
  }

  .cardw:hover{
    transform: scale(1.09)
  }

  .model-width{
    max-width: 800px;
  }
}

 @media (max-width: 1000px){
  .navbar-normal{
    display: none
  }
  .navbar-small{
    display: grid;
    opacity: 0.9;
  }

  .navbar-collapse{
    display: flex;
    position: fixed;
    top: inherit;
    opacity: 0.8;
    align-self: flex-end;
  }

  .search-bar{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #1C2833
  }

  .search-btn{
    display: none;
  }

}
