.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.primary-color{
  color: #C0392B
}

.secoundary-color{
  color: #282c34;
}

.tertiary-color{
  color: white
}

.App-title {
  align-self: center;
  text-align: center;
  font-size: 3.5em;
  font-weight: 400;
}

.rating{
  color: gold
}

.search-title {
  padding: 0px;
  color: white;
  font-size: 3em;
  text-align: center;
}

.small-title {
  text-align: center;
  color: white;
  font-size: 1.5em
}

.nav-bg{
  background-color: #1C2833;
  /*34495E*/
}
.nav-title{
  color: #C0392B;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration:none!important;
}

.nav-title:hover{
  text-decoration:none!important;
}

.nav-text{
  color: #777777;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
}

.Red{
  color: #ED1D24;
}

.cardw{
  cursor: pointer;
  
}
.cardw1{
  width:100%
}

.cardb{
  background-color: black;
}

.padding{
  padding-top: 6em;
  align-self: flex-start;
  margin-left: .5rem;
}
.dropdown-padding{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.welcome{
  background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url(".\images\wp1945898-movie-posters-wallpapers.jpg");
  align-items: center;
  padding-top: 50px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.center{
  text-align: center;
  margin-top: 3rem;
}
a.b:hover{
  color: inherit;
}

a.a{
  text-decoration:none!important;
  color: white;
}
a.a:hover{
  text-decoration:none!important;
}

.cardw:hover{
  width: 295px;
  height: 345px;
}

.search-body{
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.Footer{
  display: flex;
  min-height: 3em;
  background-color: #1C2833;
}

.body{
  min-height: 100vh;
}

.footer-text{
  align-self: center;
  margin-left: 1em;
}

.star{
  vertical-align: text-bottom;
}

.text-size-footer{
  font-size: 12px;
  margin-bottom: 0em;
}

.grey{
  color: lightslategray;
}

.upper{
  text-transform: uppercase;
}

.card-title{
  margin-bottom: .75rem;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
}

.navbar-collapse{
  display: none;
}

.row{
  justify-content: center
}
@media (min-width: 768px) { 
  
  .App-title {
    align-self: center;
    text-align: center;
    font-size: 5em
  }
  
  .search-title {
    padding: 0px;
    color: white;
    font-size: 3em;
  }
  
  .small-title {
    text-align: center;
    color: white;
    font-size: 2em
  }
  
  .dropdown-padding{
    flex-direction: row;
    padding-left: 6em;
    padding-right: 0em;
  }
  
  .cardw{
    width:250px;
    transition: width 2s, height 2s;
   
  }
  
  .padding{
    padding-top: 6em;
    
    align-self: flex-start;
    
  }
  
  .center{
    text-align: center;
    margin-top: 3rem;
    width: 15rem;
  }

 }

 @media (max-width: 1000px){
  .navbar-normal{
    display: none
  }
  .navbar-small{
    display: grid;
    opacity: 0.9;
  }

  .navbar-collapse{
    display: flex;
    position: fixed;
    top: inherit;
    opacity: 0.8;
  }

  .search-bar{
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .search-btn{
    display: none;
  }
  
  .cardw:hover{
    width: 250px;
    height: auto;
  }

 }
